* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif; }

.container {
  margin: 0 auto;
  max-width: 934px; }

.btn {
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 3px;
  display: inline-block; }

header {
  background: linear-gradient(#161616, #424242); }
  header .logo {
    display: inline-block; }
    header .logo img {
      display: block; }
  header .container {
    padding: 44px 0 0 30px; }
  header .nav {
    text-align: right; }
    header .nav .menu {
      display: inline-block;
      vertical-align: top;
      font-size: 0; }
      header .nav .menu > li {
        display: inline-block;
        vertical-align: top;
        margin-left: 1px;
        position: relative; }
        header .nav .menu > li > a {
          font-size: 10px;
          color: #fff;
          text-decoration: none;
          width: 132px;
          display: block;
          text-align: center;
          line-height: 38px;
          border-radius: 5px 5px 0 0;
          background-color: black;
          margin-top: 5px;
          cursor: pointer; }
        header .nav .menu > li > a:hover {
          font-size: 13px;
          text-transform: uppercase;
          font-style: italic;
          background: linear-gradient(to top, #e77d00, #f6a6ec); }
      header .nav .menu .sub-nav {
        position: absolute;
        display: none;
        top: 100%;
        left: 0;
        background: linear-gradient(to top, #e77d00, #f6a6ec);
        padding-top: 6px; }
        header .nav .menu .sub-nav a {
          width: 172px;
          font: 400 11px Arial, sans-serif;
          color: #fff;
          display: block;
          text-align: left;
          text-decoration: none;
          height: 25px;
          cursor: pointer;
          padding: 0 8px; }
        header .nav .menu .sub-nav a:hover {
          background: grey;
          font: 400 11px Tahoma, sans-serif; }
    header .nav .menu > li:hover .sub-nav {
      display: block; }
    header .nav .menu > li:last-of-type .sub-nav {
      left: auto;
      right: 0; }

.main {
  background: #cad2d7;
  padding: 6px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff; }
  .main .btn {
    background: linear-gradient(to top, #e77d00, #f6a6ec); }
  .main .container {
    border-radius: 7px;
    border: 1px solid #acb3b7;
    background-image: url("d:/site2/img/bg_main.jpg");
    background-position: center;
    background-size: cover;
    padding: 100px 38px 88px;
    text-align: right; }
    .main .container .head {
      font-size: 28px;
      color: #353535;
      line-height: 31px;
      margin-bottom: 12px;
      font-weight: 400; }
      .main .container .head span {
        font-style: italic;
        font-size: 30px;
        color: #ec8c84;
        text-transform: uppercase; }

.about {
  background: linear-gradient(#e6eaec, #f3f3f3);
  padding: 12px 0 20px; }

.about_item {
  width: 306px;
  display: inline-block;
  vertical-align: top;
  border: 1px solid grey;
  border-radius: 7px;
  padding: 0 25px 29px;
  box-sizing: border-box;
  background: linear-gradient(#fff, #f3f3f3); }
  .about_item .btn {
    background: linear-gradient(#494949, #121212);
    display: inline-block;
    margin-top: 15px; }

.about_title {
  font-size: 24px;
  color: #353535;
  padding: 28px 0 7px 63px;
  border-bottom: 1px dotted grey;
  font-weight: 400;
  letter-spacing: -1px; }

.about_img {
  width: 100%;
  display: block;
  border-radius: 5px;
  border: 1px solid #fff;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px #ddd;
  margin: 17px 0 14px; }

.about_text {
  font: 400 12px/17px Arial, sans-serif;
  color: #808080;
  padding-left: 7px; }

.about_list {
  list-style-type: none; }
  .about_list a {
    color: #ec8c04;
    font: 400 12px/17px Arial, sans-serif;
    margin-left: 18px;
    position: relative;
    text-transform: uppercase;
    display: block; }
  .about_list a:before {
    content: "";
    position: absolute;
    top: 0;
    left: -13px;
    bottom: 0;
    margin: auto;
    width: 5px;
    height: 5px;
    background-image: url("d:/site2/img/arrow.png"); }

/*# sourceMappingURL=main.css.map */
