* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

body {
  font-family: "Open Sans", sans-serif; }

.container {
  margin: 0 auto;
  max-width: 934px; }

.btn {
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 3px;
  display: inline-block; }

header {
  background: linear-gradient(#161616, #424242); }
  header .logo {
    display: inline-block; }
    header .logo img {
      display: block; }
  header .container {
    padding: 44px 0 0 30px; }
  header .nav {
    text-align: right; }
    header .nav .menu {
      display: inline-block;
      vertical-align: top;
      font-size: 0; }
      header .nav .menu > li {
        display: inline-block;
        vertical-align: top;
        margin-left: 1px;
        position: relative; }
        header .nav .menu > li > a {
          font-size: 10px;
          color: #fff;
          text-decoration: none;
          width: 132px;
          display: block;
          text-align: center;
          line-height: 38px;
          border-radius: 5px 5px 0 0;
          background-color: black;
          margin-top: 5px;
          cursor: pointer; }
        header .nav .menu > li > a:hover {
          font-size: 13px;
          text-transform: uppercase;
          font-style: italic;
          background: linear-gradient(to top, #e77d00, #f6a6ec); }
      header .nav .menu .sub-nav {
        position: absolute;
        display: none;
        top: 100%;
        left: 0;
        background: linear-gradient(to top, #e77d00, #f6a6ec);
        padding-top: 6px; }
        header .nav .menu .sub-nav a {
          width: 172px;
          font: 400 11px Arial, sans-serif;
          color: #fff;
          display: block;
          text-align: left;
          text-decoration: none;
          height: 25px;
          cursor: pointer;
          padding: 0 8px; }
        header .nav .menu .sub-nav a:hover {
          background: grey;
          font: 400 11px Tahoma, sans-serif; }
    header .nav .menu > li:hover .sub-nav {
      display: block; }
    header .nav .menu > li:last-of-type .sub-nav {
      left: auto;
      right: 0; }

.main {
  background: #cad2d7;
  padding: 6px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff; }
  .main .btn {
    background: linear-gradient(to top, #e77d00, #f6a6ec); }
  .main .container {
    border-radius: 7px;
    border: 1px solid #acb3b7;
    background-image: url("d:/site2/img/bg_main.jpg");
    background-position: center;
    background-size: cover;
    padding: 100px 38px 88px;
    text-align: right;
    box-sizing: border-box; }
    .main .container .head {
      font-size: 28px;
      color: #353535;
      line-height: 31px;
      margin-bottom: 12px;
      font-weight: 400; }
      .main .container .head span {
        font-style: italic;
        font-size: 30px;
        color: #ec8c84;
        text-transform: uppercase; }

.about {
  background: linear-gradient(#e6eaec, #f3f3f3);
  padding: 12px 0 20px; }
  .about .container {
    font-size: 0; }
  .about .about_item {
    width: 308px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid grey;
    border-radius: 7px;
    padding: 0 25px 29px;
    box-sizing: border-box;
    background: linear-gradient(#fff, #f3f3f3);
    margin-right: 5px; }
    .about .about_item .btn {
      background: linear-gradient(#494949, #121212);
      display: inline-block;
      margin-top: 15px; }
  .about .about_item:last-of-type {
    margin-right: 0; }
  .about .about_title {
    font-size: 24px;
    color: #353535;
    padding: 28px 0 7px 63px;
    border-bottom: 1px dotted grey;
    font-weight: 400;
    letter-spacing: -1px;
    position: relative; }
  .about .about_title:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 105px;
    background-image: url("/site2/img/icon_1.png"); }
  .about .about_img {
    width: 100%;
    max-height: 120px;
    display: block;
    border-radius: 5px;
    border: 1px solid #fff;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px #ddd;
    margin: 17px 0 14px; }
  .about .about_text {
    font: 400 12px/17px Arial, sans-serif;
    color: #808080;
    padding-left: 7px; }
  .about .about_list {
    list-style-type: none; }
    .about .about_list a {
      color: #ec8c04;
      font: 400 12px/17px Arial, sans-serif;
      margin-left: 18px;
      position: relative;
      text-transform: uppercase;
      display: block; }
    .about .about_list a:before {
      content: "";
      position: absolute;
      top: 0;
      left: -13px;
      bottom: 0;
      margin: auto;
      width: 5px;
      height: 5px;
      background-image: url("d:/site2/img/arrow.png"); }

.services {
  background: linear-gradient(#262626, #3e3e3e);
  padding-bottom: 52px; }
  .services .container {
    font-size: 0; }
  .services .btn {
    background: linear-gradient(#f6a60d, #e77d80);
    margin-top: 8px; }
  .services .services_left {
    display: inline-block;
    vertical-align: top;
    width: 600px;
    margin-right: 25px;
    padding-top: 30px; }
    .services .services_left .services_text:first-of-type {
      color: #c17821;
      font: 400 16px/20px Arial, sans-serif; }
  .services .services_title {
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 18px; }
  .services .services_text {
    font: 400 12px/17px Arial, sans-serif;
    color: #d1d1d1;
    margin-bottom: 18px; }
  .services .services_text_grey {
    color: #989999; }
  .services .services_img {
    border-radius: 5px;
    border: 1px solid #fff;
    float: left;
    box-sizing: border-box;
    width: 216px;
    height: 140px;
    margin-right: 20px; }
  .services .services_right {
    display: inline-block;
    vertical-align: top;
    width: 308px;
    padding-top: 37px;
    box-sizing: border-box; }
    .services .services_right .services_list {
      list-style-type: none;
      margin-top: 26px;
      margin-bottom: 14px;
      box-sizing: border-box;
      font: 400 16px/20px Arial, sans-serif; }
      .services .services_right .services_list li {
        color: #989999;
        border-bottom: 1px solid grey;
        padding-bottom: 8px;
        padding-top: 13px;
        display: block;
        font: 400 12px Arial, sans-serif; }

.footer {
  background-color: #212121;
  border-top: 1px solid #000;
  padding: 17px 0 17px; }
  .footer .footer_icon {
    font-size: 0;
    float: left; }
    .footer .footer_icon a {
      vertical-align: top;
      cursor: pointer;
      display: inline-block;
      width: 48px;
      height: 48px; }
    .footer .footer_icon .fb {
      background-image: url("/site2/img/fb.png"); }
    .footer .footer_icon .tw {
      background-image: url("/site2/img/tw.png"); }
    .footer .footer_icon .other {
      background-image: url("/site2/img/oth.png"); }
    .footer .footer_icon .tube {
      background-image: url("/site2/img/tube.png"); }
    .footer .footer_icon .rss {
      background-image: url("/site2/img/rss.png"); }
  .footer .footer_nav {
    float: right;
    font-size: 0; }
    .footer .footer_nav a {
      display: block;
      margin: 0 20px;
      font: 400 10px Arial, sans-serif;
      color: #8b8b8b;
      text-transform: uppercase; }
    .footer .footer_nav li {
      display: inline-block;
      vertical-align: top;
      border-right: 1px solid grey; }
    .footer .footer_nav li:last-of-type {
      border-right: none;
      margin-right: 0; }
  .footer .copy {
    float: right;
    padding-top: 10px; }

/*# sourceMappingURL=main.css.map */
