//font-family: 'Open Sans', sans-serif;
*
	margin: 0
	padding: 0
	box-sizing: border-box
body
	font-family: 'Open Sans', sans-serif
.container
	margin: 0 auto
	max-width: 934px
header
	background: linear-gradient(#161616, #424242)
	.logo
		display: inline-block
		img
			display: block
	.container
		padding: 44px 0 0 30px
	.nav
		text-align: right	
		.menu
			display: inline-block
			vertical-align: top
			font-size: 0
			> li
				display: inline-block
				vertical-align: top
				margin-left: 1px
				position: relative
				> a
					font-size: 10px
					color: #fff
					text-decoration: none
					width: 132px
					display: block
					text-align: center
					line-height: 38px
					border-radius: 5px 5px 0 0
					background-color: black
					margin-top: 5px
					cursor: pointer
				> a:hover
					font-size: 13px
					text-transform: uppercase
					font-style: italic
					background: linear-gradient(to top, #e77d00, #f6a6ec)
			.sub-nav
				position: absolute
				display: none
				top: 100%
				left: 0
				background: linear-gradient(to top, #e77d00, #f6a6ec)
				padding-top: 6px
				a
					width: 172px
					font: 400 11px Arial, sans-serif
					color: #fff
					display: block
					text-align: left
					text-decoration: none
					height: 25px
					cursor: pointer
					padding: 0 8px
				a:hover
					background: grey
					font: 400 11px Tahoma, sans-serif
		.menu > li:hover .sub-nav
			display: block







