//font-family: 'Open Sans', sans-serif;
*
	margin: 0
	padding: 0
	box-sizing: border-box
body
	font-family: 'Open Sans', sans-serif
.container
	margin: 0 auto
	max-width: 934px
.btn
	font-size: 13px
	text-transform: uppercase
	color: #fff
	cursor: pointer
	text-decoration: none
	padding: 10px 12px
	border-radius: 3px
	display: inline-block

//header
header
	background: linear-gradient(#161616, #424242)
	.logo
		display: inline-block
		img
			display: block
	.container
		padding: 44px 0 0 30px
	.nav
		text-align: right	
		.menu
			display: inline-block
			vertical-align: top
			font-size: 0
			> li
				display: inline-block
				vertical-align: top
				margin-left: 1px
				position: relative
				> a
					font-size: 10px
					color: #fff
					text-decoration: none
					width: 132px
					display: block
					text-align: center
					line-height: 38px
					border-radius: 5px 5px 0 0
					background-color: black
					margin-top: 5px
					cursor: pointer
				> a:hover
					font-size: 13px
					text-transform: uppercase
					font-style: italic
					background: linear-gradient(to top, #e77d00, #f6a6ec)
			.sub-nav
				position: absolute
				display: none
				top: 100%
				left: 0
				background: linear-gradient(to top, #e77d00, #f6a6ec)
				padding-top: 6px
				a
					width: 172px
					font: 400 11px Arial, sans-serif
					color: #fff
					display: block
					text-align: left
					text-decoration: none
					height: 25px
					cursor: pointer
					padding: 0 8px
				a:hover
					background: grey
					font: 400 11px Tahoma, sans-serif
		.menu > li:hover .sub-nav
			display: block
		.menu > li:last-of-type .sub-nav
			left: auto
			right: 0
//1st section Main
.main
	background: #cad2d7
	padding: 6px 0
	border-top: 1px solid #fff
	border-bottom: 1px solid #fff
	.btn
		background: linear-gradient(to top, #e77d00, #f6a6ec)
	.container
		border-radius: 7px
		border: 1px solid #acb3b7
		background-image: url("d:/site2/img/bg_main.jpg") 
		background-position: center
		background-size: cover
		padding: 100px 38px 88px
		text-align: right
		.head
			font-size: 28px
			color: #353535
			line-height: 31px
			margin-bottom: 12px
			font-weight: 400
			span
				font-style: italic
				font-size: 30px
				color: #ec8c84
				text-transform: uppercase
//2nd section







